%h1 Listing badges
%table
  %thead
    %tr
      %th Name
      %th Image
      %th Description
      %th Award
      %th Value
      %th{ colspan: 3 }
    %tbody
      = render @badges
%br
= link_to 'New Badge', new_badge_path
